/WA.DMS.LicenceFinder.Services/Resources/
WA.DMS.LicenceFinder.sln.DotSettings.user
/.idea/.idea.WA.DMS.LicenceFinder/.idea
.DS_Store
*.cache

/Unit Tests/WA.DMS.LicenceFinder.Services.UnitTests/bin
/Unit Tests/WA.DMS.LicenceFinder.Services.UnitTests/obj

/WA.DMS.LicenceFinder.Services/bin
/WA.DMS.LicenceFinder.Services/obj

/WA.DMS.LicenceFinder/bin
/WA.DMS.LicenceFinder/obj

/WA.DMS.LicenceFinder.Core/bin
/WA.DMS.LicenceFinder.Core/obj
